# gomi root
*.root

# Coflict
artemis/
root/
taro/
ridf/

# Rawdata Symbolic Link
rawdata
ridf
ridf_d202510a
root_d202510a
root_file_sakra


# emacs backup
*~

# Binary File
ana_sakra
deco.mpv
deco.mpv_FIRfilter
